APP_SECRET=cn#cy1tjnmtl9!4mf4*d5*p!vo-nd$z@tdye&u@ty3lv48_x+1
ALGORITHM=HS256
ACCESS_TOKEN_EXPIRE_MINUTES=3600
ALLOWED_ORIGINS="https://localhost:8000 https://localhost:8001"

PYTHONDONTWRITEBYTECODE=1
PYTHONUNBUFFERED=1

ENVIRONMENT=local
TESTING=0

MONGODB_HOST=mongodb
MONGODB_PORT=27017
MONGODB_USER=moses
MONGODB_PASS=ezylanAniF
MONGODB_DB_NAME=FinAnalyzeAPI
MONGODB_COLLECTION=finAnalyzeCollection
MONGODB_TEST_DB=finAnalyzeTest
MONGODB_URL=mongodb://moses:ezylanAniF@mongodb:27017/?retryWrites=true&w=majority